.feature-item{
  position: relative;
  padding-bottom: 2rem;

  @mixin atSmall{
  padding-left: 94px;
  }

  &__icon{
    display: block;
    margin: 0 auto;

    @mixin atSmall{
    position: absolute;
    left: 0;
    }
  }

  &__title{
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: .8rem;
    text-align: center;

    @mixin atSmall{
      text-align: left;
      font-size: 1.875rem;
    }
  }

  &__text{
    font-size: .9rem;
    font-weight: 300;
    margin: 0 0 1.4rem 0;
    line-height: 1.3;
  }
}
